.galary__card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  min-width: 282px;
}
.galary__card:first-of-type {
  margin-top: 36px;
}


@media screen and (min-width:768px) {
  .galary__card:first-of-type {
    margin-top: 0px;
  }
}