.popup__save {
  background: #000000;
  border-radius: 2px;
  width: 238px;
  height: 46px;
  border: none;
  margin: 45px 0 25px;
  cursor: pointer;
  transition: .3s ease-out;
}

.popup__save:hover {
opacity: 0.8;
}