.popup__close {
  background: url(../../../images/Close__button.svg);
  transform: rotate(-45deg);
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: .3s ease-out;
}

.popup__close:hover {
  opacity: 0.6;
}