.popup__close_edit_avatar {
  position: absolute;
  background: url(../../../../images/Close__button.svg);
  transform: rotate(-45deg);
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: .3s ease-out;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
}

.popup__close_edit_avatar:hover {
  opacity: 0.8;
}
