.galary__like {
  position: absolute;
  top: 31px;
  right: 22.24px;
  background-image: url(../../../images/Like__button.svg);
  width: 20.76px;
  height: 18.13px;
  border: none;
  background-color: transparent;
}