.galary__like {
  background-image: url(../../../images/Like__button.svg);
  width: 20.76px;
  height: 18.13px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .3s ease-out;
  margin: 6px 3.24px 1.13px auto;
}

.galary__like:hover {
  opacity: 0.6;
}