.popup__profile_edit_profile {
  margin-top: 75px;
  padding-bottom: 13px;
  width: 238px;
}

.popup__profile_edit_profile:last-of-type {
  margin-top: 30px;
}

@media screen and (min-width: 1024px) {
  .popup__profile_edit_profile {
    margin-top: 54px;
    width: 358px;
  }
}