.popup__profile_edit_card {
  margin-top: 36px;
  padding-bottom: 12px;
  width: 200px;
}

.popup__profile_edit_card:last-of-type {
  margin-top: 20px;
}
.popup__profile_edit_card:placeholder{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #c4c4c4;
}

@media screen and (min-width: 1024px) {
  .popup__profile_edit_card {
    margin-top: 54px;
    width: 358px;
  }
}