.popup__close {
  position: absolute;
  background: url(../../../images/Close__button.svg);
  right: 0px;
  top: -39.62px;
  transform: rotate(-45deg);
  background-size: cover;
  border: none;
  width: 26px;
  height: 26px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}