.galary__like {
  background-image: url('../../../images/Like__button.svg');
  width: 21px;
  height: 17.5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .3s ease-out;
  
}

.galary__like:hover {
  opacity: 0.6;
}