.section_type_narrow {
    max-width: 282px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .section_type_narrow {
    max-width: 700px;
    }
}

@media screen and (min-width:1024px) {
    .section_type_narrow {
        max-width: 880px;
    }
}