.popup__profile {
  border: none;
  opacity: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}