.profile__avatar-overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-image: url('../../../images/avatar_edit.svg');
  background-color: transparent;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
}